---
import mainMac from "../assets/Macbook_Pro_Open_Front_R.png";
import sphere from "../assets/sphere.png";
import Keyboard_R from "../assets/Keyboard_R.png";
import chevronleft from "../assets/chevronleft.png";
import chevronright from "../assets/chevronright.png";
import slash from "../assets/slash.png";
---

<div
  class="stage flex items-center justify-center w-full h-full relative overflow-hidden"
>
  <div class="wrapper relative w-full h-full flex items-center justify-center">
    <div
      class="layer z-10 top-1/2 left-1/2 -ml-65 -mt-60 -rotate-40"
      data-depth="60"
    >
      <img src={chevronleft.src} class="floating w-35 h-auto max-w-none" />
    </div>

    <div
      class="layer z-10 top-1/2 left-1/2 -ml-40 -mt-60 -rotate-30"
      data-depth="60"
    >
      <img src={slash.src} class="floating w-22 h-auto max-w-none" />
    </div>

    <div
      class="layer z-10 top-1/2 left-1/2 -ml-26 -mt-70 -rotate-45"
      data-depth="60"
    >
      <img src={chevronright.src} class="floating w-35 h-auto max-w-none" />
    </div>

    <div class="layer z-30 top-1/2 left-1/2 ml-20 -mt-60" data-depth="100">
      <img src={sphere.src} class="floating w-35 h-auto max-w-none" />
    </div>

    <div class="layer z-30 top-1/2 left-1/2 ml-2 mt-10" data-depth="100">
      <img src={Keyboard_R.src} class="floating w-70 h-auto max-w-none" />
    </div>

    <div
      class="layer z-10 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
      data-depth="120"
    >
      <img src={mainMac.src} class="floating w-130 mt-30 h-auto max-w-none" />
    </div>
  </div>
</div>

<style>
  .layer {
    position: absolute;
    transform-style: preserve-3d;
    will-change: transform;
  }
  /* max-w-none is important so images don't shrink inside the absolute container */
  img {
    max-width: none !important;
  }
</style>

<script>
  import { gsap } from "gsap";

  // Buscamos todos los elementos con la clase .floating en cualquier parte
  const floatingAssets = document.querySelectorAll(".floating");

  if (floatingAssets.length > 0) {
    floatingAssets.forEach((asset, i) => {
      gsap.to(asset, {
        y: i % 2 === 0 ? -12 : 12, // Un poco más de movimiento vertical
        x: i % 2 === 0 ? 4 : -4,
        rotation: i % 2 === 0 ? 3 : -3,
        duration: 2.5 + i * 0.5, // Ritmo orgánico
        ease: "sine.inOut",
        repeat: -1,
        yoyo: true,
      });
    });
  }
</script>
